body{
    background: rgb(58, 58, 58);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background: black;
    background-image: url(images/background.jpg);
    background-size: 100%;
    background-position: center;
    padding: 200px 60px;
    margin: auto;
}
header h1{
    text-transform: uppercase;
    display: inline-block;
    margin: auto;
}
header .logo a{
    background-image: url(/images/logo.png);
    text-indent: -9999999px;
    background-size: 200px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 100px;
    position: relative;
    top: -50px;
    width: 200px;

}
header ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

header nav ul li{
    display: inline-block;
    text-align: center;
}
header nav{
    margin-top: -140px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;

}
nav ul li a:hover{
    text-decoration:underline;

}
.content{

    background: white;
    color: gray;
    padding: 40px;
    display: flex;
    flex-direction: row;

}

.content figure {
    margin: auto;
}
.content figure img{
    
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: gray 5px 5px 30px;
    margin: auto;

}
.content figcaption{
    text-align: center;
}



footer{
    background: black;
    padding:5px 10px;
    color: whitesmoke;
    text-align: center;
    margin: auto; 

}

